<!--Password Reset Done Page-->
{% extends "base.html" %}{% block content %}
<div class="h-screen w-screen flex items-center justify-center p-4">
  <div class="max-w-screen-sm">
    <h1 class="text-4xl mb-4">Password Reset Sent</h1>
    <p class="text-xl font-light mb-4">
      We have emailed you instructions for setting your password, if an account
      exists with the email you entered. You should receive them shortly. If you
      do not receive an email, please make sure you have entered the address you
      registered with, and check your spam folder.
    </p>
  </div>
</div>
{% endblock %}

