{% extends 'orders/order_layout.html' %}{% block body %} {% load tailwind_filters %}
<div class="mx-auto max-w-screen-sm">
  <h1 class="mb-4 text-center text-4xl">Initial Check In Form</h1>
  <p class="mb-4 text-2xl font-light">
    Please compete your initial check in form to access your order
  </p>
  <form method="POST" action=".">
    {% csrf_token %} {{form|crispy}}
    <div class="my-2 flex">
      <button
        type="submit"
        class="ml-auto rounded bg-gray-800 px-4 py-2 font-medium uppercase text-white"
        value="Submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock body %}
