<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//unpkg.com/alpinejs" defer></script>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <title>Female Fight Nutritionist</title>
    <meta name="description" content="Female Fight Nutritionist" />
    <link rel="icon" href="/static/favicon.ico" />
  </head>
  <body>
    <!--Messages are included here-->
    {% include 'partials/_messages.html' %} {% include "navbar.html" %} {% block content %} {% endblock content %}
  </body>
  <!--Tailwin build colours-->
  <span class="bg-purple-400"></span>
  <span class="bg-indigo-400"></span>
  <span class="bg-green-400"></span>
  <span class="bg-yellow-400"></span>
  <span class="bg-red-400"></span>
</html>
