<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//unpkg.com/alpinejs" defer></script>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <title>Female Fight Nutritionist</title>
    <meta name="description" content="Female Fight Nutritionist" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <!--Messages are included here-->
    {% include 'partials/_messages.html' %} {% include "navbar.html" %} {% block content %} {% endblock content %}
    <div
      id="cookieConsentBanner"
      style="
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: lightgray;
        padding: 10px;
        z-index: 100;
      "
    >
      <div
        class="overflow-none mx-auto flex max-w-screen-md items-center justify-around p-4"
      >
        <p>This website uses cookies to ensure you get the best experience.</p>
        <div class="flex flex-col justify-end md:flex-row">
          <button
            id="acceptCookies"
            class="mb-2 ml-4 w-28 bg-green-400 px-4 py-2 font-medium text-white md:mb-0 rounded-md"
          >
            Accept</button
          ><button
            id="rejectCookies"
            class="ml-4 w-28 bg-gray-400 px-4 py-2 font-medium text-white rounded-md"
          >
            Decline
          </button>
        </div>
      </div>
    </div>

    <script>
      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }

      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == " ") c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0)
            return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      document.getElementById("acceptCookies").onclick = function () {
        setCookie("cookieConsent", "true", 7);
        document.getElementById("cookieConsentBanner").style.display = "none";
        loadFacebookPixel();
      };

      document.getElementById("rejectCookies").onclick = function () {
        document.getElementById("cookieConsentBanner").style.display = "none";
      };

      function loadFacebookPixel() {
        if (getCookie("cookieConsent")) {
          !(function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
              n.callMethod
                ? n.callMethod.apply(n, arguments)
                : n.queue.push(arguments);
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = "2.0";
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s);
          })(
            window,
            document,
            "script",
            "https://connect.facebook.net/en_US/fbevents.js"
          );
          fbq("init", "1358637678200673");
          fbq("track", "PageView");
        }
      }

      window.onload = function () {
        if (!getCookie("cookieConsent")) {
          document.getElementById("cookieConsentBanner").style.display =
            "block";
        }
        if (getCookie("cookieConsent")) {
          loadFacebookPixel();
        }
      };
    </script>
  </body>
  <!--Tailwin build colours-->
  <span class="bg-purple-400"></span>
  <span class="bg-indigo-400"></span>
  <span class="bg-green-400"></span>
  <span class="bg-yellow-400"></span>
  <span class="bg-red-400"></span>
</html>
