{% extends "base.html" %} {% block content %}
<section class="body-font min-h-screen overflow-hidden text-gray-600">
  <div class="container mx-auto px-4 py-28 lg:px-0">
    <div class="mb-8 flex w-full flex-col text-left">
      <h1
        class="title-font mb-2 text-3xl font-medium text-gray-900 sm:text-4xl"
      >
        Pricing
      </h1>
      <p class="text-base leading-relaxed text-gray-500">
        We offer a range of products designed for suit your nutrtional coaching
        needs.
      </p>
    </div>
    <div class="-m-4 flex flex-wrap">
      <div class="w-full p-4 md:w-1/2 xl:w-1/4">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-lg border-2 border-gray-300 p-6"
        >
          <h2 class="title-font mb-1 text-sm font-medium tracking-widest">
            MONTHLY
          </h2>
          <h1
            class="mb-4 flex items-center border-b border-gray-200 pb-4 text-5xl leading-none text-gray-900"
          >
            <span>€149</span>
            <span class="ml-1 text-lg font-normal text-gray-500">/mo</span>
          </h1>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Initial client assessment covering current weight, goal/fight
            weight, dieting and medical history.
          </p>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >A personalised weight management plan, updated weekly which
            includes calorie and macronutrient breakdown.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Weekly chats with your Female Fight Nutritionist via email.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Personalised supplement recommendations.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Hydration goals and recommendations based on your training schedule
          </p>
          <a href={% url 'users:dashboard' %}
            class="mt-auto flex w-full items-center rounded border-0 bg-gray-400 py-2 px-4 text-white hover:bg-gray-500 focus:outline-none"
          >
            Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="ml-auto h-4 w-4"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="mt-3 text-xs text-gray-500">
            If you have any questions feel free to reach out to
            membership@femalefightnutritionist.com
          </p>
        </div>
      </div>
      <div class="w-full p-4 md:w-1/2 xl:w-1/4">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-lg border-2 border-indigo-500 p-6"
        >
          <span
            class="absolute right-0 top-0 rounded-bl bg-indigo-500 px-3 py-1 text-xs tracking-widest text-white"
            >Popular</span
          >
          <h2 class="title-font mb-1 text-sm font-medium tracking-widest">
            8 WEEK FIGHTER UPGRADE COURSE
          </h2>
          <h1
            class="mb-4 flex items-center border-b border-gray-200 pb-4 text-5xl leading-none text-gray-900"
          >
            <span>€499</span>
            <span class="ml-1 text-lg font-normal text-gray-500"
              >/8 week cycle</span
            >
          </h1>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Initial client assessment covering current weight, goal/fight
            weight, dieting and medical history.
          </p>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >A personalised weight management plan, updated weekly which
            includes calorie and macronutrient breakdown.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Weekly chats with your Female Fight Nutritionist via email.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Personalised supplement recommendations.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Hydration goals and recommendations based on your training schedule
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Pre Recorded Masterclasses on topics relevant to you.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Private group message support via telegram/whatsapp for the entire
            course.
          </p>
          <a href={% url 'users:dashboard' %}
            class="mt-auto flex w-full items-center rounded border-0 bg-indigo-500 py-2 px-4 text-white hover:bg-indigo-600 focus:outline-none"
          >
            Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="ml-auto h-4 w-4"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="mt-3 text-xs text-gray-500">
            If you have any questions feel free to reach out to
            membership@femalefightnutritionist.com
          </p>
        </div>
      </div>
      <div class="w-full p-4 md:w-1/2 xl:w-1/4">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-lg border-2 border-gray-300 p-6"
        >
          <h2 class="title-font mb-1 text-sm font-medium tracking-widest">
            ONE TIME FFN CONSULTATION AND REPORT
          </h2>
          <h1
            class="mb-4 flex items-center border-b border-gray-200 pb-4 text-5xl leading-none text-gray-900"
          >
            <span>€249</span>
            <span class="ml-1 text-lg font-normal text-gray-500"
              >(once off)</span
            >
          </h1>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Initial client assessment covering current weight, goal/fight
            weight, dieting and medical history.
          </p>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >A personalised weight management plan, updated weekly which
            includes calorie and macronutrient breakdown.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Personalised supplement recommendations.
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Hydration goals and recommendations based on your training schedule
          </p>
          <p class="mb-6 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >One further check in with Female Fight Nutritionist 2 weeks later
            via zoom or email
          </p>
          <a href={% url 'users:dashboard' %}
            class="mt-auto flex w-full items-center rounded border-0 bg-gray-400 py-2 px-4 text-white hover:bg-gray-500 focus:outline-none"
          >
            Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="ml-auto h-4 w-4"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="mt-3 text-xs text-gray-500">
            If you have any questions feel free to reach out to
            memberships@femalefightnutritionist.com
          </p>
        </div>
      </div>
      <div class="w-full p-4 md:w-1/2 xl:w-1/4">
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-lg border-2 border-gray-300 p-6"
        >
          <h2 class="title-font mb-1 text-sm font-medium tracking-widest">
            PROFESSIONAL FIGHTER FULL FIGHT CAMP
          </h2>
          <h1
            class="mb-4 flex items-center border-b border-gray-200 pb-4 text-5xl leading-none text-gray-900"
          >
            <span>€XXX</span>
            <span class="ml-1 text-lg font-normal text-gray-500"
              >(Price on application)
            </span>
          </h1>
          <p class="mb-2 flex items-start text-gray-600">
            <span
              class="mr-2 mt-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full bg-gray-400 text-white"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="h-3 w-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >Details will follow once Female Fight Nutritionist we agree to work
            with you.
          </p>
          <a href={% url 'users:dashboard' %}
            class="mt-auto flex w-full items-center rounded border-0 bg-gray-400 py-2 px-4 text-white hover:bg-gray-500 focus:outline-none"
          >
            Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="ml-auto h-4 w-4"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="mt-3 text-xs text-gray-500">
            If you have any questions feel free to reach out to
            membership@femalefightnutritionist.com
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "footer.html" %} {% endblock %}
